body {
    background: #f5f6f7;
}

h1 {
    text-align: center;
    font-size: 35px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    color: #323232;
    margin: 30px 0;
}

.header {
    background-image: url(../img/main.jpg);
    background-position: center top;
    height: 200px;
}

section .separator {
    display: inline;
    float: left;
    width: 97.02380952380952%;
    margin: 0 1.488095238095238%;
    *zoom: 1;
}

.content {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #666666;
    margin: 0 17%;
    text-align: justify;
}